*{margin: 0;
    padding: 0;}

body{
    background-color: #158f4c;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


#HOME {
    background: #158f4c;
}


#menu-h ul{
    text-align: left;
    list-style-type: none;
    height: 59px;
    padding: 0%;
    background-color: #fff;
    position: relative;
    box-shadow:  0px 0px 10px 0px #01ff22;
    position: fixed;
    width: 100%;


}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    display: inline-block;
    text-decoration: none;
    color: #252627;
    outline: none;
    padding: 20px;
    transition: background .4s;
    
    
    
}
#menu-h ul li a:hover{
    background-color:#158f4c;
    cursor: pointer;
}

#menu-h img{
    height: 30px;
    width: 60px; 
    position: relative;
    top: 05px;
    
}

